* 
  margin: 0
  padding: 0
  box-sizing: border-box

$white: #FFFFFF

html
  @media (max-width: 1080px)
    font-size: 93.75%
  @media (max-width: 720px)
    font-size: 87.5%

body
  background: $white
  -webkit-font-smoothing: antialiased

body, input, textarea, button
  font: 400 1rem "roboto", sans-serif
  background: $white

button
  cursor: pointer
  margin: 0