@use '../../styles/_util' as *

.container
    background: $blue-200
    height: 100vw
    margin-left: 250px

    .content
      display: flex
      justify-content: center
      align-items: center
    
    .gridProducts
        padding-top: 10px
        display: grid
        width: 100%
        max-width: 750px
        margin: 0 auto
        grid-template-columns: repeat(4, 2fr)
        grid-gap: 20px
        background: $gray-600
        
        .item
            background: gray
            color: white
            font-size: 10px
            padding: 20px
