@use '../../styles/_util' as *

.container
    background: $blue-200
    height: 100vw
    margin-left: 250px

    .content
      display: flex
      justify-content: center
      align-items: center
    
    .gridProducts
        display: grid
        grid-template-coluns: repeat 
        background: $gray-600
        
        .item
            color: $white
