@use '../../styles/_util' as *
.container
    background : $gray-900
    height: 100vh
    width: 280px
    position: fixed

    .content
      height: 100vh
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

    .logo
      margin-top: 2rem
      margin-bottom: 2rem
      color: $white
      position: absolute
      top: 0   
      
    :nth-child(2)
      div
        background: $green-200
    :nth-child(3)
      div
        background: $red-200
    :nth-child(4)
      div
        background: $purple-200
    :nth-child(5)
      div
        background: $blue-200
    :nth-child(6)
      div
        background: $yellow-200
    :nth-child(7)
      div
        background: $blue-light-200
    .box
      align-items: center
      width: 250px
      height: 100px

      border-radius: 1rem
      margin-top: 1rem
      padding: 1rem
      
      color: $white
      
      .boxIcon
        background: $white
        width: 65px
        height: 65px
        border-radius: 8rem
        margin-right: 1rem

      .boxTitle
          p
            font-size: .8rem

      transition: filter .3s

      &:hover
        filter: brightness(0.8)
      display: flex

      

     
    
      

      
     
     
         
 
