@use '../../styles/_util' as *


.container
    height: 120px
    width: 100vw
    position: fixed
    display: flex
    justify-content: center
    .limit
      max-width: 1444px
      width: 100%
      .content
        height: 120px
        border-radius: .5rem
        background : $gray-900
        display: flex
        flex-direction: row
        justify-content: center

        .navbar
          display: flex
          flex-direction: row
          gap: 1rem
          .logo  
            margin-top: 2rem
            margin-bottom: 2rem
            color: $white
            position: absolute
            top: 0   
            
          :nth-child(2)
            div
              background: $green-200
          :nth-child(3)
            div
              background: $red-200
          :nth-child(4)
            div
              background: $purple-200
          :nth-child(5)
            div
              background: $blue-200
          :nth-child(6)
            div
              background: $yellow-200
          :nth-child(7)
            div
              background: $blue-light-200
          .box
            display: flex
            align-items: center
            width: 220px
            height: 90px

            border-radius: 1rem
            margin-top: 1rem
            padding: 1rem
            
            color: $white
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.435))          
            .boxIcon
              display: flex
              align-items: center
              justify-content: center
              background: $white
              width: 20px
              height: 20px
              border-radius: 8rem
              margin-right: 1rem
              padding: 1.5rem

              img
                vertical-align: middle
              
            .boxTitle
                h2
                  font-size: 1.3rem
                p
                  font-size: .8rem

            transition: filter .3s

            &:hover
              filter: brightness(0.8)

@media (max-width: 1366px)
  .container
    width: 150px
    .content
      .navbar
        .box
          display: flex
          justify-content: center
          align-items: center
          width: 100px
          .boxIcon
            margin: 0
          .boxTitle
            display: none
      .exitMenu
        width: 150px
            
      @media (max-height: 840px)
        .navbar
          .box
            margin-top: .5rem
            height: 75px
            width: 85px
            
            h2
              font-size: 1.3rem 
            .boxIcon
              margin: 0
              padding: 1.5rem
              
        .exitMenu
            img
              width: 20px
            p
              font-size: 1rem
      @media (max-height: 620px)
        .navbar
          .box
            margin-top: .5rem
            height: 60px
            width: 70px

            h2
              font-size: 1.3rem 
            .boxIcon
              padding: 1.2rem
              margin: 0
              img
                width: 25px

        .exitMenu
            img
              width: 20px
            p
              font-size: 1rem

  

      

     
    
      

      
     
     
         
 
